<div class="container">
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All Subscribers</h3>
          <p>From here you can manage your subscribers.</p>

          <button class="btn btn-warning ml-2" routerLink="/">
            Back to the Dashboard
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="10"></td>
                <td width="200"></td>
                <td width="200"></td>
                <td></td>

                <td>
                  <button class="btn btn-sm btn-danger ml-3">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
