<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments (12547)</h4>
    <p>You can leave a comment using this comment form</p>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2021</small>
      <div class="mt-3 mb-3">
        Non et eiusmod ad adipisicing cupidatat excepteur amet magna voluptate
        consectetur ipsum. Sunt excepteur Lorem do irure velit mollit minim sit.
        Commodo deserunt occaecat esse do in mollit cupidatat non dolore.
      </div>

      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>

      <hr />
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2021</small>
      <div class="mt-3 mb-3">
        Non et eiusmod ad adipisicing cupidatat excepteur amet magna voluptate
        consectetur ipsum. Sunt excepteur Lorem do irure velit mollit minim sit.
        Commodo deserunt occaecat esse do in mollit cupidatat non dolore.
      </div>

      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>

      <hr />
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2021</small>
      <div class="mt-3 mb-3">
        Non et eiusmod ad adipisicing cupidatat excepteur amet magna voluptate
        consectetur ipsum. Sunt excepteur Lorem do irure velit mollit minim sit.
        Commodo deserunt occaecat esse do in mollit cupidatat non dolore.
      </div>

      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>

      <hr />
    </div>
  </div>
</div>
